.vbgame_data {
  align: center;
}

.vbgame_tabelle {
  padding: 3px;
  cellspacing: 1px;
  width: 100%;
  overflow-x: scroll;
}

.vbgame_spielplan {
  padding: 3px;
  cellspacing: 1px;
  width: 100%;
}

.vbgame_vorschau {
  padding: 3px;
  cellspacing: 1px;
  width: 100%;
}

.vbgame_even {
  background: #ddc;
}
.vbgame_odd {
  background: #fff;
}

.vbgame_even_special {
  background: #ff0;
}

.vbgame_odd_special {
  background: #dc0;
}

.even {
  background: #ddc;
}
.odd {
  background: #fff;
}

.special.even {
  background: #ff0;
}

.special.odd {
  background: #dc0;
}
